.copy-01 {
  font: 1.6rem/2rem $fontPrimary;
  display: block;
}

.copy-02 {
  font: 1rem/1.4rem $fontPrimary;
  display: block;
}

.copy-03 {
  font: 1.4rem/1.8rem $fontPrimary;
  display: block;

  .bold {
    font-family: $fontSecondary;
  }
}