.heading-01 {
  font: 4rem/5.1rem $fontSecondary;
}

.heading-02 {
  font: 3.2rem/3rem $fontSecondary;
}

.heading-03 {
  font: 1.4rem/1.8rem $fontSecondary;
}

.heading-04 {
  font: 1rem/1.3rem $fontSecondary;
}

.heading-05 {
  font: 1.8rem/2.3rem $fontSecondary;
}


@include respond-to(SMALL) {
  .heading-01 {
    font: 4rem/5.1rem $fontSecondary;
  }

  .heading-02 {
    font: 3.2rem/3rem $fontSecondary;
  }

  .heading-03 {
    font: 1.4rem/1.8rem $fontSecondary;
  }
}
