/* stylelint-disable-next-line block-no-empty */
.itinerary {
  padding-top: 2rem;
  padding-bottom: 5rem;

  .travel-wrapper {
    margin-top: 4rem;
  }

  .travel-plan {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2.5rem;
    position: relative;
  }

  .travel-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position:relative;
    padding-bottom: 4rem;

    &:last-child {
      padding-bottom: 0;

      &:after {
        display: none;
      }
    }

    &:before {
      content: '';
      @include size(1.5rem);
      max-width: 1.5rem;
      max-height: 1.5rem;
      min-width: 1.5rem;
      min-height: 1.5rem;
      background: $colorWhite;
      border: 3px solid $colorTertiary;
      border-radius: 7px;
      margin-right: 2rem;
      align-self: flex-start;
      z-index: 4;
    }

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      border-right: 1px dashed rgba(34,136,137,0.20);
      top: 0;
      left: 0.74rem;
      z-index: 3;
    }

    .item-copy {
      margin-top: 1rem;
    }

    .time {
      background-color: $colorPrimary;
      border-radius: 10px;
      min-width: 4rem;
      color: $colorWhite;
      text-align: center;
      padding: .4rem;
      display: inline-flex;
      position: absolute;
      right: 0;
      align-self: flex-start;
      justify-self: flex-end;
      justify-content: center;
    }
  }

  .selector {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1.6rem;
  }

  .item {
    width: calc(100% /4);
    background: $colorWhite;
    color: $colorTertiary;
    text-align: center;
    border: 1px solid $colorTertiary;
    border-right: 0;
    padding: .6rem 0;
    padding-top: 1.3rem;
    transition: all .3s $easeInOutCubic;

    &.active {
      background: $colorTertiary;
      color: $colorWhite;
    }

    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:nth-child(2) {
      padding-top: .6rem;
    }

    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-right: 1px solid $colorTertiary;
    }
  }

  .route-link {
    margin-top: 2rem;
    color: $colorTertiary;
    text-decoration: underline;
  }

  .route-content {
    max-width: 70%;
  }

  .route-overlay {
    opacity: 0;
    @include size(100vw, 100vh);
    background: rgba(0,0,0,0.3);
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    display: none;

    .close {
      @include size(3rem);
      position: absolute;
      right: 2rem;
      top: 4rem;

      svg {
        @include size(100%);
      }
    }

    .inner {
      opacity: 0;
      width: calc(100vw - 4rem);
      height: 90vh;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      background: $colorWhite;
      border-radius: 10px;
      padding: 4rem 2rem;
      overflow: scroll;
    }
  }
}
