/* stylelint-disable-next-line block-no-empty */
.model {
  position: fixed;
  background: $colorWhite;
  width: 100%;
  bottom: 0;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  min-height: 20rem;
  padding: 5rem 4.5rem 4.5rem;
  transform: translateY(100%);
  overflow: scroll;
  max-height: 100%;

  .paginator {
    position: absolute;
    top: 3rem;
    right: 4rem;
  }

  .step1 {
    opacity: 0;

    //TODO DELETE
    //display: none;
  }

  .step2 {
    display: none;
    opacity: 0;
  }

  .step3 {
    display: none;
    opacity: 0;
  }
}
